html, body, #root {
  margin: 0;
  height:100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App{
  height: 100%;
  width: 100%;
}

.topBlock{
  height: 10%;
  display: flex;
  background: #0066CC;
  justify-content: center;
  align-items: center;
}

.topText{
  color: #ffffff;
  font-size: 24px;      
}

.cotentBlock{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadBlock{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.readyButton{
  height: 5%;
  width: 82%;
  margin: -45px 0 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadBgBlock{
  width: 60%;
  height: 95%;
  margin: 0 1%;
  border-radius: 15px;
  border: 2px solid #4F95DA;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepBlock{
  width: 60%;
  height: 6%;
  margin:1% 0;
  color: #ffffff;
  border-radius: 15px;
  background-color:#4F95DA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateImageBlock{
  width: 20%;
  height: 95%;
  margin:0 1%;
  border-radius: 15px;
  border: 2px solid #4F95DA;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border: 2px solid #4F95DA;
}


